.main {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    justify-content: center;
    align-items: center;
    height: 900px;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    color: black;
    transition: ease 0.5s;
}

.main:hover {
    color: purple;
    transition: ease 0.5s;
}

body {
    background-color: whitesmoke;
}